.setting-home-row {
    height: calc(100vh - 49px);
    overflow: auto;
}
.setting-home {
    padding: var(--thoughtware-padding);
    .setting-home-block {
        margin-bottom: 20px;
        .setting-home-block-title {
            height: 30px;
            line-height: 30px;
            margin-bottom: 10px;
            font-weight: 600;
            font-size: 16px;
        }
        .setting-home-block-content {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 15px;
            line-height: 30px;
            .setting-home-block-content-item {
                background-color: var(--thoughtware-gray-700);
                border-radius: 5px;
                padding: 15px;
                text-align: center;
                height: 90px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                .module-title {
                    font-size: 12px;
                    font-weight: 600;
                    color: #888;
                }
            }
            .setting-home-block-content-item:hover {
                color: var(--thoughtware-blue);
                cursor: pointer;
                .module-title {
                    color: var(--thoughtware-blue);
                }
            }
        }
    }
}