.move-menu {
    list-style-type:none;
    min-height: 30vh;
    
    .category-menu-submenu {
        height: 40px;
        display: flex;
        line-height: 40px;
        width: 100%;
        align-items: center;
        // justify-content: space-between;
        padding: 10px;
        cursor: pointer;
        i{
            margin-right: 10px;
        }
        .category-input {
            outline:0;
            box-shadow: 0 0 0 2px #1890ff33;
            min-width: 100px;
            height: 30px;
            line-height: 30px;
            display: inline-block;
            border-radius: 2px;
        }
    }
    .category-disable-select {
        opacity: 0.5;
        user-select: none;
        pointer-events: none;
        cursor: not-allowed;
    }
    .category-allow-select {
        cursor: pointer;
    }
    .category-menu-submenu:hover {
        background-color: #EDF0F5;
    }
    .category-menu-submenu-hidden {
        display: none;
    }
    .category-menu-select {
        background-color: #e3e8f0;
        // border-left: 3px solid #0053ca;
    }
    .iconright {
        margin-left: 10px;
    }
}
.hidden-menu {
    display: none;
}
.icon-show {
    display: block;
}
.icon-hidden {
    display: none;
}