.change-repository {
    position: relative;

    .repository-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
        padding: 15px;
        // color: #000;
        font-weight: 600;
        cursor: pointer;
        .repository-text {
            min-width: 0;
            flex: 1;
            .name {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .type {
                font-size: 12px;
                font-weight: normal;
                
            }
        }

        span {
            width: 100px;
            height: 100%;
            overflow: hidden;

            i {
                margin-right: 10px;
            }
        }

        .repository-aside-icon {
            width: 15px;
            height: 15px;
        }
    }

    .repository-title-icon {
        display: flex;
        width: 100%;
        align-items: center;
        padding: 15px 21px;
        cursor: pointer;
        .repository-aside-icon {
            width: 15px;
            height: 15px;
        }
    }
    .change-repository-botton {
        height: 40px;
        line-height: 40px;
        width: 100%;
        text-align: center;
    }
    .change-repository-box {
        position: absolute;
        top: 0;
        z-index: 100;
        width: 300px;
        border-radius: 4px;
        background: #fff;
        box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d;
        color: #000000;
        .change-repository-head {
            height: 40px;
            line-height: 40px;
            font-weight: 500;
            font-size: 14px;
            padding: 0 20px;
            border-bottom: 1px solid #F0F0F0;
        }
        .change-repository-item {
            line-height: 30px;
            padding:0 20px;
            cursor: pointer;
            display: flex;
            align-items: center;
            margin-bottom: 5px;
            border-radius: 5px;
            .item-info {
                flex: 1;
                .item-master {
                    font-size: 12px;
                    color: var(--tiklab-gray-500);
                }
            }
        }
        .change-repository-item:hover {
            background-color: var(--tiklab-gray-400);
        }
        .change-repository-selectItem {
            background-color: var(--tiklab-gray-400);
        }
        .change-repository-more {
            padding: 0 20px;
            height: 40px;
            line-height: 40px;
            cursor: pointer;
            border-top: 1px solid #F0F0F0;
            color: var(--tiklab-blue);
            font-size: 13px;
        }
    }
    

    
   
    .menu-show {
        display: block;
    }
    .menu-hidden {
        display: none;
    }
}