.repositorydetail-aside {

    position: relative;
    z-index: 1;

    .ant-layout-sider-children {
        position: fixed;

        .repository-aside {
            background-color: #f6f7f8;
            border-right: 1px solid #eaeaea;
            height: 100%;
            width: 270px;

            ul {
                padding: 0;
                margin: 0;
            }

            .repository-title {
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                width: 100%;
                padding: 0px 10px 0px 24px;
                height: 36px;
                line-height: 36px;
                font-size: 15px;
                font-weight: 600;
                span {

                    i {
                        margin-right: 10px;
                    }
                }

                .repository-title-left {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }

            }

            .repository-aside-action {
                padding: 0 10px 0px 24px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 25px;
                line-height: 25px;
                border-bottom: 1px solid #f3f4f5;
                .repository-aside-action-left {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }
                .repository-action-item {
                    width: 20px;
                    height: 20px;
                    border-radius: 5px;
                    padding: 2px;
                }
                .repository-action-item:hover {
                    background-color: var(--tiklab-gray-400);
                }
            }

           
        }

        .setting {
            border-top: 1px solid #f0f2f5;
        }

        .ant-tree {
            background-color: var(--tiklab-gray-600);
        }

        .repository-menu-node {
            display: flex;
            align-items: center;
            padding: 0 !important;
            .ant-tree-switcher {
                padding: 10px 0;

                .ant-tree-switcher-icon {
                    padding: 5px 0;
                }
            }

            .ant-tree-node-content-wrapper {
                padding: 0;
            }

            .ant-tree-node-selected {
                background-color: transparent;
            }

            .ant-tree-node-content-wrapper:hover {
                background-color: transparent;
            }

            .ant-tree-node-content-wrapper {
                width: 90;
            }
        }

        .repository-menu-node:hover {
            background-color: #EDF0F5;
        }

        .repository-menu-select {
            background-color: #EDF0F5;
        }

        // .repository-menu-firstmenu {
        //     height: 40px;
        //     display: flex;
        //     line-height: 40px;
        //     width: 100%;
        //     align-items: center;
        //     justify-content: space-between;
        //     padding: 10px 10px 10px 24px;
        //     gap: 5px;

        //     .category-add {
        //         border-radius: 5px;
        //         height: 20px;
        //         width: 20px;
        //         padding: 1px;
        //     }

        //     .category-add:hover {
        //         background: #E3e8f0;
        //     }

        //     // background-color: var(--tiklab-gray-600);
        //     .repository-menu-firstmenu-left {
        //         display: flex;
        //         align-items: center;
        //         gap: 8px;
        //     }

        //     .repository-menu-firstmenu-right {
        //         display: flex;
        //         align-items: center;
        //         cursor: pointer;
        //         gap: 5px;
        //     }
        // }


        .repository-menu {
            list-style-type: none;
            height: calc(100% - 61px);
            cursor: pointer;
            overflow: auto;

            // .repository-menu-up {
            //     margin-top: 100px;
            // }

            // .repository-menu-down {
            //     margin-bottom: 100px;
            // }

            .repository-menu-submenu {
                height: 40px;
                display: flex;
                line-height: 40px;
                width: 100%;
                align-items: center;
                // justify-content: space-between;
                padding: 10px 10px 10px 0;
                gap: 5px;

                .img-icon {
                    flex-shrink: 0;
                }

                .repository-menu-submenu-left {
                    display: flex;
                    align-items: center;
                }

                i {
                    margin-right: 10px;
                }

                .repository-input {
                    outline: 0;
                    box-shadow: 0 0 0 2px #1890ff33;
                    min-width: 100px;
                    height: 30px;
                    line-height: 30px;
                    display: inline-block;
                    border-radius: 2px;
                    width: 120px;
                    white-space: nowrap;
                    overflow: hidden;
                }

                .repository-view {
                    // max-width: 120px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    flex: 1;

                }

            }

            .iconright {
                margin-left: 10px;
            }
        }

        .repository-menu::-webkit-scrollbar {
            width: 0px;
            height: 0px;
        }

        .repository-menu:hover::-webkit-scrollbar {
            width: 5px;
            height: 0px;
        }

        .repository-menu::-webkit-scrollbar-thumb {
            border-radius: 5px;
            background: var(--tiklab-gray-400);
        }

        .repository-menu::-webkit-scrollbar-track {
            border-radius: 0;
            background: var(--tiklab-gray-600);
        }

        // .repository-setting-menu {
        //     margin: 0 auto;
        //     height: 40px;
        //     line-height: 40px;
        //     display: flex;
        //     align-items: center;
        //     padding-left: 24px;
        //     border-top: 1px solid #f0f2f5;
        //     cursor: pointer;

        // }

        // .repository-setting-menu:hover {
        //     color: var(--tiklab-blue);
        // }

        // .hidden-menu {
        //     display: none;
        // }

        // .icon-action {
        //     // width: 42px;
        //     flex-shrink: 0;
        //     display: flex;
        //     align-items: center;
        //     gap: 5px;

        // }

        .category-add {
            border-radius: 5px;
            height: 20px;
            width: 20px;
            padding: 1px;
            cursor: pointer;
        }

        .category-add:hover {
            background: #E3e8f0;
        }

        .icon-show {
            display: flex;
        }

        .icon-hidden {
            display: none;
        }

        // .repository-survey {
        //     height: 40px;
        //     line-height: 40px;
        //     padding-left: 24px;
        //     cursor: pointer;
        //     display: flex;
        //     align-items: center;
        //     gap: 8px;
        // }

        // .repository-survey:hover {
        //     background-color: #EDF0F5;
        // }
    }
}

.repository-notext {
    display: none;
}

// .repository-icon {
//     width: 50px;
// }

.content-add-menu {
    display: flex;
    align-items: center;

    .content-add-icon {
        width: 16px;
        height: 16px;
        margin-right: 5px;
    }
}

.repository-aside-archived {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}