.repositorydetail-aside {
    background-color: var(--thoughtware-gray-600);
    position: relative;
    z-index: 5;

    .ant-layout-sider-children {
        position: fixed;
        width: 250px;

        .repository-aside {
            background-color: var(--thoughtware-gray-600);
            border-right: 1px solid #f0f2f5;
            height: calc(100vh - 48px);
            width: 270px;

            ul {
                padding: 0;
                margin: 0;
            }

            .repository-title {
                display: flex;
                line-height: 40px;
                width: 100%;
                align-items: center;
                padding: 10px 10px 0 24px;
                
                justify-content: space-between;

                span {
                    height: 100%;
                    overflow: hidden;
                    white-space: nowrap;
                    overflow: hidden;
                    width: 300px;
                    text-overflow: ellipsis;
                    i {
                        margin-right: 10px;
                    }
                }

                .repository-title-left {
                    margin-right: 20px;
                    display: flex;
                    align-items: center;
                    font-weight: 600;
                }

            }

            .repository-toggleCollapsed {
                display: flex;
                position: relative;
                align-items: center;
            }

            .setting {
                border-top: 1px solid #f0f2f5;
            }
            .repository-menu-node {
                display: flex;
                align-items: center;
                .ant-tree-switcher {
                    padding: 10px 0;
                    .ant-tree-switcher-icon {
                        padding: 5px 0;
                    }
                }
                .ant-tree-node-content-wrapper {
                    padding: 0;
                }

                .ant-tree-node-selected {
                    background-color: transparent;
                }

                .ant-tree-node-content-wrapper:hover {
                    background-color: transparent;
                }

                .ant-tree-node-content-wrapper {
                    width: 90;
                }
            }
            .repository-menu-node:hover {
                background-color: #EDF0F5;
            }
            .repository-menu-select {
                background-color: #e3e8f0;
                border-left: 3px solid #0053ca;
            }

            .repository-menu {
                list-style-type: none;
                height: calc(100% - 130px);
                cursor: pointer;
                overflow: auto;
                background-color: #fff;
                .repository-menu-firstmenu {
                    height: 40px;
                    display: flex;
                    line-height: 40px;
                    width: 100%;
                    align-items: center;
                    justify-content: space-between;
                    padding: 10px 10px 10px 24px;
                    background-color: var(--thoughtware-gray-600);
                    .repository-menu-firstmenu-left {
                        display: flex;
                        align-items: center;
                    }
                }

                .repository-menu-up {
                    margin-top: 100px;
                }

                .repository-menu-down {
                    margin-bottom: 100px;
                }

                .repository-menu-submenu {
                    height: 40px;
                    display: flex;
                    line-height: 40px;
                    width: 100%;
                    align-items: center;
                    // justify-content: space-between;
                    padding: 10px 10px 10px 0;
                    .img-icon {
                        flex-shrink: 0;
                    }
                    .repository-menu-submenu-left {
                        display: flex;
                        align-items: center;
                    }

                    i {
                        margin-right: 10px;
                    }

                    .repository-input {
                        outline: 0;
                        box-shadow: 0 0 0 2px #1890ff33;
                        min-width: 100px;
                        height: 30px;
                        line-height: 30px;
                        display: inline-block;
                        border-radius: 2px;
                        width: 120px;
                        white-space: nowrap;
                        overflow: hidden;
                    }

                    .repository-view {
                        // max-width: 120px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        flex: 1;
                    }
                }

                .iconright {
                    margin-left: 10px;
                }
            }

            .repository-setting-menu {
                margin: 0 auto;
                height: 40px;
                line-height: 40px;
                display: flex;
                align-items: center;
                padding-left: 24px;
                border-top: 1px solid #f0f2f5;
                cursor: pointer;

            }

            .repository-setting-menu:hover {
                color: var(--thoughtware-blue);
            }

            .hidden-menu {
                display: none;
            }

            .icon-action {
                width: 42px;
                flex-shrink: 0;
                display: flex;
                align-items: center;
            }

            .icon-show {
                display: flex;
            }

            .icon-hidden {
                display: none;
            }

            .repository-survey {
                height: 40px;
                line-height: 40px;
                padding-left: 24px;
                cursor: pointer;
                display: flex;
                align-items: center;
            }

            .repository-survey:hover {
                background-color: #EDF0F5;
            }
        }
    }

    .repository-notext {
        display: none;
    }

    .repository-icon {
        width: 50px;
    }
}

.content-add-menu {
    display: flex;
    align-items: center;

    .content-add-icon {
        width: 16px;
        height: 16px;
        margin-right: 5px;
    }
}