
.repositorydetail {
    height: 100%;
    .repositorydetail-content {
        background-color: #fff;
        height: 100%;
        overflow: hidden;
        .repositorydetail-content-col {
            background: #fff;
            height: calc(100% - 64px);
            overflow: auto;
        }
    }
}
.repository-modal {
    .ant-modal-title {
        font-weight: 600;
        font-size: 15px;
    }

    .ant-modal-body {
        padding: 0 24px;
        font-family: 13px;

        .repository-name {
            height: 40px;
            line-height: 40px;
            padding-left: 20px;
        }

        .repository-selectName {
            background-color: #0053ca;
        }
    }
}