.wikidetail {
    min-height: 100%;

    .wikidetail-content {
        background-color: #fff;
    }

    .ant-layout-sider {
        background-color: var(--tiklab-gray-600);
        position: relative;
        z-index: 5;
        .ant-layout-sider-children {
            position: fixed;
            width: 250px;

            .wiki-aside {
                background-color: var(--tiklab-gray-600);
                border-right: 1px solid #f0f2f5;
                height: calc(100vh - 48px);

                ul {
                    padding: 0;
                    margin: 0;
                }

                .wiki-title {
                    height: 40px;
                    display: flex;
                    line-height: 40px;
                    width: 100%;
                    align-items: center;
                    padding: 0 10px 0 24px;
                    font-weight: 600;
                    justify-content: space-between;

                    span {
                        width: 100px;
                        height: 100%;
                        overflow: hidden;

                        i {
                            margin-right: 10px;
                        }
                    }

                    .wiki-title-left {
                        margin-right: 20px;
                        display: flex;
                        align-items: center;
                    }

                }
                .wiki-toggleCollapsed {
                    display: flex;
                    position: relative;
                    align-items: center;
                }

                .setting {
                    border-top: 1px solid #f0f2f5;
                }

                .wiki-menu-select {
                    background-color: #e3e8f0;
                    border-left: 3px solid #0053ca;
                }

                .wiki-menu {
                    list-style-type: none;
                    height: calc(100% - 120px);
                    cursor: pointer;
                    overflow: auto;
                    .wiki-menu-firstmenu {
                        height: 40px;
                        display: flex;
                        line-height: 40px;
                        width: 100%;
                        align-items: center;
                        justify-content: space-between;
                        padding: 10px 10px 10px 24px;
                        .wiki-menu-firstmenu-left {
                            display: flex;
                            align-items: center;
                        }
                    }
                    .wiki-menu-submenu {
                        height: 40px;
                        display: flex;
                        line-height: 40px;
                        width: 100%;
                        align-items: center;
                        justify-content: space-between;
                        padding: 10px 10px 10px 0;

                        .wiki-menu-submenu-left {
                            display: flex;
                            align-items: center;
                        }

                        i {
                            margin-right: 10px;
                        }

                        .wiki-input {
                            outline: 0;
                            box-shadow: 0 0 0 2px #1890ff33;
                            min-width: 100px;
                            height: 30px;
                            line-height: 30px;
                            display: inline-block;
                            border-radius: 2px;
                        }
                    }

                    .wiki-menu-submenu:hover {
                        background-color: #EDF0F5;
                    }

                    .wiki-menu-submenu-hidden {
                        display: none;
                    }

                    .iconright {
                        margin-left: 10px;
                    }
                }

                .wiki-setting-menu {
                    margin: 0 auto;
                    height: 40px;
                    line-height: 40px;
                    display: flex;
                    align-items: center;
                    padding-left: 24px;
                    border-top: 1px solid #f0f2f5;
                    cursor: pointer;

                }

                .wiki-setting-menu:hover {
                    color: var(--tiklab-blue);
                }

                .hidden-menu {
                    display: none;
                }

                .icon-show {
                    display: block;
                }

                .icon-hidden {
                    display: none;
                }

                .wiki-survey {
                    height: 40px;
                    line-height: 40px;
                    padding-left: 24px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                }

                .wiki-survey:hover {
                    background-color: #EDF0F5;
                }
            }
        }

        .wiki-notext {
            display: none;
        }

        .wiki-icon {
            width: 50px;
        }
    }

    .wikidetail-content {
        .wikidetail-content-col {
            background: #fff;
            height: calc(100vh - 64px);
            overflow: auto;
        }
    }


}

.wiki-modal {
    .ant-modal-title {
        font-weight: 600;
        font-size: 15px;
    }

    .ant-modal-body {
        padding: 0 24px;
        font-family: 13px;

        .wiki-name {
            height: 40px;
            line-height: 40px;
            padding-left: 20px;
        }

        .wiki-selectName {
            background-color: #0053ca;
        }
    }
}