.orga {
    height: 100%;

    .orga-background {
        background-color: #fff;
        height: calc(100vh - var(--thoughtware-head-height));
    }

    .orga-col {
        background-color: #fff;
        padding: 20px;
    }

    .orga-aside {
        height: 100%;
        background-color: var(--thoughtware-gray);

        // padding-top: 20px;
        .orga-aside-top {
            height: calc(100vh - 48px);
            overflow: auto;
        }

        ul,
        li {
            list-style: none;

        }

        .orga-aside-hidden {
            display: none;
        }

        .orga-aside-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 40px;
            line-height: 40px;
            padding: 0 20px;
            cursor: pointer;

        }

        .orga-aside-item-left {
            display: inline-flex;
            align-items: center;
        }

        .orga-aside-li {
            line-height: 40px;
        }

        .orga-aside-ul {
            padding: 0;
        }

        .orga-aside-item:hover {
            background-color: var(--thoughtware-gray-400);
        }

        .orga-aside-select {
            background-color: var(--thoughtware-gray-400);
            border-left: 3px solid var(--thoughtware-gray-400);
        }
    }

    .orga-change {
        width: 100%;
        height: 50px;
        line-height: 50px;
        background-color: var(--thoughtware-gray);
        text-align: center;
        color: var(--thoughtware-blue);
        cursor: pointer;
    }
}

.ant-modal-close-x {
    display: flex !important;
    justify-content: center;
    align-items: center;
}