// .edit-toolbar {
//     position: absolute;
//     top: 0;
//     width: 100%;
// }
.edit-toolbar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // box-shadow: rgb(235,236,240) 0px 2px 0px 0px;
    padding: 10px;
    border-bottom: 1px solid #ebecf0;
    // position: absolute;
    // top: 10px;
    // /* left: 10px; */
    // width: 100%;
    .tool-item {
        text-align: center;
        padding: 0 10px;
        .tool-item-icon {
            width: 20px;
            height: 20px;
        }
        i {
            font-size: 16px;
            font-weight: 600;
        }
    }
}
.edit-tool-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    border: 1px solid #e3e3e3;
}