
p {
    margin: 0;
}
.edit-box {
    // margin-top: 60px;
    border: 1px solid #f3f3f3;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 200px;
    padding: 10px;
    margin-top: 10px;
}
// .title {
//     height: 35px;
//     line-height: 35px;
//     text-align: center;
//     display: flex;
//     align-items: center;
//     margin: 0 10px;
//     .back-icon {
//         width: 15px;
//         height: 15px;
//     }
// }
.slate {
    position: relative;;
}