
.category-editname {
    background-color: #f9f9f9;
    height: 100vh;
    .category-editname-top {
        height: 50px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 10px;
        justify-content: space-between;
        .category-editname-title {
            margin-left: 20px;
            font-weight: 600;
        }
    
        .category-editname-icon-logo {
            width: 30px;
            height: 30px;
        }
    }
    .category-editname-box {
        background: #fff;
        height: 40px;
        display: flex;
        justify-content: center;
        margin: 0 10px;
        padding: 0 10px;
        border-radius: 5px;
        font-size: 13px;
        .adm-input-element {
            font-size: 13px;
        }
    }
}
