
.category-editmaster {
    background-color: #f9f9f9;
    height: 100vh;
    .category-editmaster-top {
        height: 50px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 10px;
        justify-content: space-between;
        .category-editmaster-title {
            margin-left: 20px;
            font-weight: 600;
        }
    
        .category-editmaster-icon-logo {
            width: 30px;
            height: 30px;
        }
    }
    .category-editmaster-box {
        background: #fff;
        margin: 0 10px;
        border-radius: 5px;
        .adm-text-area-element {
            font-size: 13px;
        }
    }
    .category-editmaster-item {
        display: flex;
        height: 40px;
        line-height: 40px;
        padding: 0 10px;
        border-bottom: 0.2px solid #f0f0f0;
        margin: 0 10px;
        justify-content: space-between;
    }
    .category-set-icon {
        width: 30px;
        height: 30px;
    }
    .item-right {
        display: inline-flex;
        align-items: center;
    }
}
