.color-border {
    width: 240px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 6px;
    
}

.color-editor {
    // border-left: 1px solid #F7F8FA;
    // border-right: 1px solid #F7F8FA;
    // padding: 0 10px;
    margin: 0 10px;
    position: relative;
   
    .color-box {
        display: flex;
        justify-content: space-around;
        align-items: center;
        h1 {
            margin: 0;
        }
        h1, h2, h3, h4, h5, h6 {
            margin: 0;
            color: inherit;
        }
        .color-item {
            align-items: center;
            border-radius: 0px;
            box-sizing: border-box;
            cursor: pointer;
            display: flex;
            flex: 0 0 auto;
            background-color: rgb(255, 255, 255);
            color: rgb(23, 43, 77);
            fill: rgb(255, 255, 255);
            text-decoration: none;
            padding: 8px 10px 7px;
            border: 1px #e3e3e3 solid;
            border-radius: 5px;
            .tool-item {
                width: 26px;
                height: 26px;
            }
            svg.botton-item-icon {
                width: 15px;
                height: 15px;
            }
        }
        .color-item:hover {
            color: rgb(255, 255, 255);
            background-color: rgb(23, 43, 77)
        }
    }
}