.search-input {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #f0f0f0;
    height: 32px;
    line-height: 32px;
    border-radius: 4px;
    background: #fff;
    padding-left: 10px;
    width: 200px;
}