.url-data {
    padding: var(--thoughtware-padding);
}
.systemurl-edit {
    color: var(--thoughtware-blue);
    cursor: pointer;
}
.systemurl-dete {
    color: var(--thoughtware-blue);
    cursor: pointer;
}