.repository-popup-content {
    .adm-popup-body {
        margin: 0 5px;
        width: calc(100vw - 10px);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        box-sizing: border-box;
        background-color: transparent;
    }
    .repository-popup-content {
        background-color: #fff;
        border-radius: 5px;
    }
    .template-select {
        display: flex;
        flex-wrap: wrap;
        background-color: #fff;
        border-radius: 10px;
    }
    .repository-select-title {
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
    }
    .repository-select-cancel {
        height: 40px;
        line-height: 40px;
        border-radius: 10px;
        text-align: center;
        font-size: 15px;
        background-color: #fff;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .template-item {
        position: relative;
        width: 50px;
        cursor: pointer;
        margin: 20px;
        text-align: center;
        .template-icon {
            width: 15px;
            height: 15px;
        }
        .title {
            margin-top: 10px;
        }
    }
}
