.brainmap-edit {
    background-color: #fff;
    // padding: 20px;
    height: calc(100vh - 50px);
    overflow: auto;
    .edit-top {
        line-height: 50px;
        height: 50px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--tiklab-gray-600);
        padding: 0 20px;
        .edit-title {
            font-size: 18px;
            font-weight: 600;
        }
        .document-edit {
            display: flex;
            align-items: center;
        }
        .inline {
            border-left: 2px solid #f0f0f0;
            height: 20px;
            width: 1px;
            margin-right: 20px;
        }
        
    }
    .edit-right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        .user-icon {
            width: 20px;
            height: 20px;
            margin-right: 20px;
        }
        .right-icon {
            width: 20px;
            height: 20px;
        }
    }
}