
.repository-editdesc {
    background-color: #f9f9f9;
    height: 100vh;
    .repository-editdesc-top {
        height: 50px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 10px;
        justify-content: space-between;
        .repository-editdesc-title {
            margin-left: 20px;
            font-weight: 600;
        }
    
        .repository-editdesc-icon-logo {
            width: 30px;
            height: 30px;
        }
    }
    .repository-editdesc-box {
        background: #fff;
        display: flex;
        justify-content: center;
        margin: 0 10px;
        padding: 10px 10px;
        border-radius: 5px;
        font-size: 13px;
        .adm-text-area-element {
            font-size: 13px;
        }
    }
}
