.pagination-box{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    height: 40px;
    line-height: 40px;
    .pagination-box-center {
        gap: 5px;
    }
    .pagination-box-ban{
        cursor:not-allowed;
        color: var(--tiklab-gray-500);
    }
    .pagination-box-allow{
        cursor: pointer;
        &:hover{
          color: var(--tiklab-blue);
        }
    }
    .pagination-box-current{
        color: var(--tiklab-blue);
    }
    .pagination-box-ref {
        cursor: pointer;
    }
}