.repository-template {
    background-color: #fff;
    height: 100%;
    padding: 10px;

    .template-title {
        display: flex;
        align-items: center;

        .template-name {
            cursor: pointer;
            color: var(--tiklab-blue);
        }
    }

    .template-list {
        display: flex;
        gap: 10px;

        .template-box {
            padding: 10px;
            border: 1px solid rgba(126, 134, 142, 0.16);
            box-sizing: border-box;
            border-radius: 6px;
            position: relative;
            .template-action {
                display: flex;
                gap: 10px;
                justify-content: space-around;
            }
            .template-image {
                width: 200px;
                height: 200px;
            }

            .template-name {
                font-size: 16px;
            }
            .template-action {
                display: flex;
                // justify-content: space-between;
                gap: 10px;
                position: absolute;
                background: #fff;
                bottom: 0;
                width: 100%;
                left: 0;
                padding: 10px;
            }
        }
    }

}