.template-view-top {
    padding: 10px 0;
    font-weight: 600;
    align-items: center;

    .template-view-breadcrumb {
        font-size: var(--thoughtware-font-16);
        font-weight: var(--thoughtware-font-weight-bold);
        display: flex;
        align-items: center;

        .template-back {
            cursor: pointer;
        }
    }

    .template-view-title {
        background: #fff;
        position: sticky;
        top: 0;
        z-index: 3;
    }
}