.document-markdown-examine {
    background-color: #fff;
    position: relative;

    .document-examine-content {
        display: flex;
        justify-content: space-between;
        height: calc(100vh - 49px);
        padding-top: 10px;
    }

    .document-examine-row {
        height: calc(100vh - 170px);
        overflow: auto;
        flex: 1;
    }

    .examine-top {
        line-height: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #f7f8fa;
        padding: 0 20px;

        .examine-title {
            font-size: 18px;
            font-weight: 600;
        }

        .comment-item {
            display: flex;
            align-items: center;
        }

        .document-edit {
            display: flex;
            align-items: center;
            gap: 10px;
            .right-icon {
                width: 20px;
                height: 20px;
                cursor: pointer;
            }
        }

        .inline {
            border-left: 2px solid #f0f0f0;
            height: 20px;
            width: 1px;
            margin-right: 20px;
        }
    }

    .preview-editor {
        min-height: 300px;
    }

    .comment-box {
        box-shadow: rgb(112 144 176 / 24%) 0px 0px 1px 0px, rgb(112 144 176 / 12%) 0px 6px 24px 4px;
        padding: 6px;
        border-radius: 6px;
        background-color: rgb(255, 255, 255);
        position: absolute;
        bottom: 150;
        right: 20px;

        .comment-box-item {
            padding: 5px;
        }

        .comment-item {
            cursor: pointer;
        }

        .top-item {
            border-bottom: #f0f0f0 1px solid;
        }

        .commnet-num {
            font-size: 11px;
            transform: scale(.8);
            position: absolute;
            top: 0;
            right: 4px;
        }
    }


}
.more-box {
    right: -20px;
    top: 5;
    position: absolute;
    display: block;
    box-sizing: border-box;
    z-index: 400;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 4px 8px -2px rgba(9,30,66,.25), 0 0 1px rgba(9,30,66,.31);
    overflow: auto;
    min-width: 140px;
    .markbox-download {
        padding: 8px 20px;
        cursor: pointer;
    }
    .markbox-download:hover{
        background-color: #f0f0f0;
    }
}