.log-detail {
    background-color: #fff;
    height: calc(100vh - 48px);
    overflow: auto;
    .log-detail-content {
        padding: 20px;
    }
    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-button {
        span {
            cursor: pointer;
            color: #0053ca;
        }

    }

    .log-edit {
        .edit-toolbar {
            padding: 0;
            flex-wrap: nowrap;
        }

        .edit-title {
            padding: 10px 0;
            font-size: 16px;
            font-weight: 600;
        }
    }

    .log-examine {
        .examine-title {
            font-size: 18px;
            font-weight: 600;
            line-height: 30px;
            height: 30px;
            margin-bottom: 20px;

        }

        .examine-type {
            font-size: 12px;
            color: #aaa;
            margin-left: 20px;
        }
    }

    .log-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #f0f0f0;
        padding-bottom: 10px;
        .title-icon {
            width: 40px;
            height: 40px;
        }

        .title-left {

            display: flex;
            align-items: center;
            justify-content: space-between;

            .title-name {
                margin-left: 20px;

                .name {
                    font-size: 18px;
                    font-weight: 600;
                }

                .master {
                    color: var(--thoughtware-gray-500);
                }
            }

        }

        .top-add-botton {
            color: #fff;
            font-weight: 500;
            background-color: var(--thoughtware-blue);
            padding: 5px 15px;
            border-radius: 4px;
            display: flex;
            align-items: center;
            cursor: pointer;
            height: 32px;
            line-height: 32px;
        }
    }

    .log-child {
        border-bottom: 1px solid #f0f0f0;
        padding-bottom: 10px;
        &-list {
            display: flex;
            align-items: center;
            line-height: 30px;
            justify-content: space-between;
            padding: 0 10px;
            border-radius: 4px;
            padding: 5px;
            .log-child-title {
                display: flex;
                align-items: center;
                .log-child-name {
                    cursor: pointer;
                    width: 120px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
        .log-child-list:hover {
            background-color: var(--thoughtware-gray-300);
        }


        .log-icon {
            width: 16px;
            height: 16px;
            margin-right: 5px;
        }
    }
}