.share-list-modal {
    .ant-modal-content {
        height: calc(100% - 200px);
        
    }
    .ant-modal-body {
        height: calc(100% - 110px);
        overflow: auto;
    }

}
.share-list {
    .ant-tree-switcher{
        display: flex;
        align-items: center;
    }
    .ant-tree-treenode {
        padding: 10 0;
    }
    .share-icon {
        margin: 3px;
        width: 18px;
        height: 18px;
    }
}
