.document-share-examine {
    height: calc(100vh - 48px);
    background-color: #fff;
    .examine-title {
        line-height: 50px;
        height: 50px;
        font-size: 18px;
        font-weight: 600;
        border: 1px solid #f7f8fa;
        padding: 0 20px;
    }
    .examine-content {
        display: flex;
        justify-content: space-between;
        height: calc(100% - 60px);
        overflow: hidden;
    }
    .preview-editor {
        min-height: 300px;
    }

    .comment-box {
        box-shadow: rgb(112 144 176 / 24%) 0px 0px 1px 0px, rgb(112 144 176 / 12%) 0px 6px 24px 4px;
        padding: 6px;
        border-radius: 6px;
        background-color: rgb(255, 255, 255);
        position: absolute;
        bottom: 150;
        right: 20px;
        
        .comment-box-item {
            padding: 5px;
        }
        .comment-item {
            cursor: pointer;
        }
        .commnet-num {
            font-size: 11px;
            transform: scale(.8);
            position: absolute;
            top: 0;
            right: 4px;
        }
    }
    
    
}