.repository-aside {
    background-color: #fff;
    border-right: 1px solid #f0f2f5;
    height: calc(100vh - 48px);

    ul {
        padding: 0;
        margin: 0;
    }

    .repository-title {
        height: 40px;
        display: flex;
        line-height: 40px;
        width: 100%;
        align-items: center;
        padding: 0 10px 0 24px;
        font-weight: 600;
        justify-content: space-between;

        span {
            width: 100px;
            height: 100%;
            overflow: hidden;

            i {
                margin-right: 10px;
            }
        }

        .repository-title-left {
            margin-right: 20px;
            display: flex;
            align-items: center;
        }

    }
    .repository-toggleCollapsed {
        display: flex;
        position: relative;
        align-items: center;
    }

    .setting {
        border-top: 1px solid #f0f2f5;
    }

    .repository-menu-select {
        background-color: #e3e8f0;
        border-left: 3px solid var(--thoughtware-blue);
    }

    .repository-menu {
        list-style-type: none;
        height: calc(100% - 120px);
        cursor: pointer;
        overflow: auto;
        .repository-menu-firstmenu {
            height: 40px;
            display: flex;
            line-height: 40px;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            padding: 10px 10px 10px 24px;
            .repository-menu-firstmenu-left {
                display: flex;
                align-items: center;
            }
        }
        .repository-menu-submenu {
            height: 40px;
            display: flex;
            line-height: 40px;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            padding: 10px 10px 10px 0;

            .repository-menu-submenu-left {
                display: flex;
                align-items: center;
            }

            i {
                margin-right: 10px;
            }

            .repository-view {
                max-width: 120px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .repository-menu-submenu:hover {
            background-color: #EDF0F5;
        }

        .repository-menu-submenu-hidden {
            display: none;
        }

        .iconright {
            margin-left: 10px;
        }
    }

    .repository-setting-menu {
        margin: 0 auto;
        height: 40px;
        line-height: 40px;
        display: flex;
        align-items: center;
        padding-left: 24px;
        border-top: 1px solid #f0f2f5;
        cursor: pointer;

    }

    .repository-setting-menu:hover {
        color: var(--thoughtware-blue);
    }

    .hidden-menu {
        display: none;
    }

    .icon-show {
        display: block;
    }

    .icon-hidden {
        display: none;
    }

    .repository-survey {
        height: 40px;
        line-height: 40px;
        padding-left: 24px;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    .repository-survey:hover {
        background-color: #EDF0F5;
    }
}