.tabbar {
    height: 100vh;
    display: flex;
    flex-direction: column;
    .tabbar-icon {
        width: 20px;
        height: 20px;
    }
    .content {
        flex: 1;
    }
    .bottom {
        flex: 0;
        border-top: 1px solid #f0f0f0;
    }
}