

    // .repository-set-delete {
    //     color: var(--thoughtware-blue);
    // }


.repository-set-basicinfo {
    padding: 10px;
    .repository-info-title {
        display: flex;
        align-items: center;
        font-size: 15px;
        font-weight: 600;
    }
    .repository-set-info {
        .repository-form-icon {
            align-items: center;
            .form-icon-col {
                display: flex;
                align-items: center;
                gap: 10px;
            }
            .ant-form-item-control-input-content {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    }
    .repository-set-icon-block {
        color: #ff0000;
    }
    .change-button {
        text-align: center;
        height: 30px;
        line-height: 30px;
        background: var(--thoughtware-blue);
        color: #fff;
        border-radius: 4px;
        width: 100px;
        font-size: 12px;
        cursor: pointer;
    }
    .delete-button {
        background-color: #ff0000;
        margin-top: 10px;
    }

}

.repository-icon-modal {
    .repository-icon-box {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        .repository-icon {
            box-sizing: content-box;
        }
        .icon-select {
            border: 2px solid var(--thoughtware-blue);
        }
    }
}