@font-face {
  font-family: "iconfont"; /* Project id 3351557 */
  src: url('iconfont.woff2?t=1652858193133') format('woff2'),
       url('iconfont.woff?t=1652858193133') format('woff'),
       url('iconfont.ttf?t=1652858193133') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanhui:before {
  content: "\e602";
}

.icon-font-indigo:before {
  content: "\fad5";
}

.icon-font-green:before {
  content: "\fad3";
}

.icon-align-center:before {
  content: "\e786";
}

.icon-align-justify:before {
  content: "\e787";
}

.icon-align-left:before {
  content: "\e788";
}

.icon-bold:before {
  content: "\e78b";
}

.icon-font-red:before {
  content: "\fad2";
}

.icon-code-view:before {
  content: "\e78d";
}

.icon-align-right:before {
  content: "\e78f";
}

.icon-h-1:before {
  content: "\e794";
}

.icon-h-4:before {
  content: "\e796";
}

.icon-h-3:before {
  content: "\e797";
}

.icon-indent-increase:before {
  content: "\e791";
}

.icon-h-6:before {
  content: "\e799";
}

.icon-heading:before {
  content: "\e792";
}

.icon-input-cursor-move:before {
  content: "\e795";
}

.icon-italic:before {
  content: "\e798";
}

.icon-indent-decrease:before {
  content: "\e79d";
}

.icon-list-ordered:before {
  content: "\e79e";
}

.icon-list-check:before {
  content: "\e79f";
}

.icon-h-5:before {
  content: "\e7a0";
}

.icon-strikethrough:before {
  content: "\e7a2";
}

.icon-underline:before {
  content: "\e7a3";
}

.icon-font-purple:before {
  content: "\fad0";
}

.icon-font-grey:before {
  content: "\fad4";
}

.icon-font-blue:before {
  content: "\fad1";
}

.icon-font-black:before {
  content: "\facf";
}

.icon-font-yellow-copy:before {
  content: "\fad6";
}

.icon-select2:before {
  content: "\e624";
}

.icon-tupian:before {
  content: "\e621";
}

.icon-guanbi:before {
  content: "\e601";
}

.icon-gengduo:before {
  content: "\e8af";
}

.icon-attachment-2:before {
  content: "\e783";
}

.icon-emphasis-cn:before {
  content: "\e784";
}

.icon-double-quotes-l:before {
  content: "\e785";
}

.icon-list-unordered:before {
  content: "\e78a";
}

.icon-link-m:before {
  content: "\e789";
}

.icon-separator:before {
  content: "\e78e";
}

.icon-a-xinjiantianjia:before {
  content: "\e6a2";
}

.icon-a-wenjianjiawenjian:before {
  content: "\e69e";
}

.icon-jiaoyu:before {
  content: "\face";
}

.icon-chakan:before {
  content: "\e600";
}

.icon-shangchuanwenjian:before {
  content: "\fa2d";
}

