.font-style-botton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .botton-item {
        width: 80px;
    height: 40px;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .botton-item-icon {
        width: 20px;
        height: 20px;

    }
    
    
}
.font-style-name {
    padding: 10px;
    font-size: 13px;
    color: #999;
}