.repository {
    padding: var(--tiklab-padding-item);
    .repository-filter {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        line-height: 50px;
        gap: 20px;
        .vertical-bar {
            width: 1px;
            height: 15px;
            background-color: #d7d7d7;
            margin: 0 10px;
        }
        .active-tabs {
            color: #000;
            border-bottom: 2px solid var(--tiklab-blue);
        }
        .filter-search {
            width: 150px;
            border-radius: 4px;; 
        }
    }
    .repository-tabs {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 50px;
        line-height: 50px;

        .repository-tab {
            font-size: var(--tiklab-font-13);
            ;
            cursor: pointer;
            height: 50px;
            line-height: 50px;
            margin-right: 20px;
        }

        .repository-tab:last-child {
            margin-right: 0;
        }
    }
    .repository-title {
        display: flex;
        align-items: center;
        .repository-name {
            cursor: pointer;
            color: var(--tiklab-blue);
        }
    }

}