.repository-select-type {
    padding: 10px 0;

    .repository-type-head {
        font-size: 14px;
        padding-bottom: 8px;
        line-height: 30px;
    }

    .repository-type-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 60%;
    }

    .repository-type-box {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10 20px;
        max-width: 300px;
        background-color: #fff;

        .type-info {
            margin-left: 20px;

            .type-name {
                font-weight: bold;
                height: 30px;
                line-height: 30px;
            }

            .type-desc {
                font-size: var(--tiklab-font-12);
                color: var(--tiklab-gray-500);
            }
        }

    }
}

.repository-addinfo {
    padding-top: 20px;
    .ant-form-item {
        margin: 0 0 15px;
    }
    .ant-picker {
        border: 0;
    }
    .repository-icon-box {
        width: 320px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        .upload-icon {
            width: 30px;
            height: 30px;
        }
    }


    .repository-limit {
        display: flex;
        align-items: center;
        gap: 30px;

        .repository-limits {
            padding: 15px 20px;
            background-color: #fafafa;
            border-radius: 4px;
            width: 250px;

            .limits-title {
                font-size: 16px;
                height: 40px;
                line-height: 40px;
            }

            .limits-desc {
                font-size: 13px;
                color: #ccc;
            }
        }

        .limit-select {
            border: 1px solid var(--tiklab-blue);
            box-shadow: 0 0 3px var(--tiklab-gray-400)56;
        }
    }
    .repository-type-head {
        font-size: 20px;
        font-weight: var(--tiklab-font-weight-bold);
        margin-bottom: 10px;
    }

    

    .repository-icon {
        box-sizing: content-box;
        padding: 5px;
        img {
            width: 30px;
            height: 30px;
            margin: 0;
        }
    }

    .repository-add-submit {
        display: flex;
        gap: 20px;
    }

    .icon-select {
        border: 1px solid var(--tiklab-blue);
        box-shadow: 0 0 3px #0063FF56;
        border-radius: 4px;
    }
}

.repository-previous {
    line-height: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    width: 56px;
}

.previous-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
}