.repository-row {
    height: calc(100vh - 49px);
    overflow: auto;
}
.repository {
    padding: var(--thoughtware-padding-item);
    
    .recent-repository {
        margin-bottom: 15px;
        margin-top: 15px;
        border-radius: 4px;
        background: #fff;


        .repository-box {
            display: flex;
            justify-content: flex-start;
            gap: 15px;
            padding: 10px 0;
            overflow: hidden;
            flex-wrap: wrap;
            height: 114px;
            .ant-empty {
                width: 100%;
            }
        }

        .repository-item {
            flex: 1;
            padding: var(--thoughtware-padding);
            box-sizing: content-box;
            flex-shrink: 0;
            border-radius: 4px;
            cursor: pointer;
            background-color: var(--thoughtware-gray-600);
            box-sizing: border-box;
            border-bottom: 2px solid var(--thoughtware-gray-600);
            min-width: 200px;
            max-width: 260px;
            .item-title {
                margin-bottom: 10px;
                font-weight: var(--thoughtware-font-weight-bold);
                display: inline-flex;
                align-items: center;
                font-size: 16px;
                span {
                  
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    max-width: 140px;
  
                }
                .project-icon {
                    width: 30px;
                    height: 30px;
                    margin-right: 10px;
                }

                .item-icon {
                    width: 20px;
                    height: 20px;
                    margin-right: 10px;
                }
            }

            .item-work {
                display: flex;
                gap: 20px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

            .process-work,
            .end-work {
                font-size: 12px;
                display: inline-flex;
                width: 100%;
                justify-content: space-between;
                height: 30px;
                line-height: 30px;
            }

            .icon {
                width: 40px;
                height: 40px;
            }

            .title {
                margin-top: 10px;
                font-size: 18px;
                font-weight: 600;
            }
        }

        .repository-item:hover {
            border-radius: 4px 4px 0 0;
            border-bottom: 2px solid var(--thoughtware-blue);
        }
    }

    .repository-filter {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        line-height: 50px;
        gap: 20px;

        .vertical-bar {
            width: 1px;
            height: 15px;
            background-color: #d7d7d7;
            margin: 0 10px;
        }

        .active-tabs {
            color: #000;
            border-bottom: 2px solid var(--thoughtware-blue);
        }

        .filter-search {
            width: 150px;
            border-radius: 4px;
            ;
        }
    }

    .repository-tabs {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 50px;
        line-height: 50px;

        .repository-tab {
            font-size: var(--thoughtware-font-13);
            cursor: pointer;
            height: 50px;
            line-height: 50px;
            margin-right: 20px;
        }

        .repository-tab:last-child {
            margin-right: 0;
        }
    }
    .repository-table-box {
        margin-top: 10px;
    }
    .repository-title {
        display: flex;
        align-items: center;

        .repository-info {
                
            .repository-name {
                cursor: pointer;
                line-height: 25px;
            }
            .repository-name:hover {
                color: var(--thoughtware-blue);
            }
            .repository-master {
                font-size: 12px;
                line-height: 25px;
                color: var(--thoughtware-gray-500);
            }
        }
    }

}