
.repository-set {
    height: 100vh;
    .ant-row {
        overflow: auto;
    }
    .ant-layout {
        background-color: #fff;
    }
    .ant-layout-sider {
        background-color: var(--thoughtware-gray-600);
        .ant-layout-sider-children {
            position: fixed;
            width: 200px;
            .repository-set-aside {
                ul {
                    padding: 0;
                    margin: 0;
                }
                background: var(--thoughtware-gray-600);
                .repository-set-title {
                    height: 40px;
                    display: flex;
                    line-height: 40px;
                    width: 100%;
                    align-items: center;
                    padding: 0 20px;
                    font-weight: 600;
                    .menu-icon {
                        cursor: pointer;
                        color: var(--thoughtware-blue);
                        fill: var(--thoughtware-blue);
                    }
                }
                .repository-set-back {
                    height: 40px;
                    line-height: 40px;
                    padding-left: 20px;
                    border-bottom: 1px solid #f0f2f5;
                    align-items: center;
                    display: flex;
                    cursor: pointer;
                }
                .repository-set-back:hover {
                    background-color: #e3e8f0;
                }
                .setting {
                    border-top: 1px solid #f0f2f5;
                }
                
                .repository-menu {
                    list-style-type:none;
                    height: 85vh;
                    cursor: pointer;
                    .repository-menu-submenu {
                        height: 40px;
                        display: flex;
                        line-height: 40px;
                        width: 100%;
                        align-items: center;
                        padding: 0 20px;
                        justify-content: space-between;
                        i{
                            margin-right: 10px;
                        }
                    }
                    .repository-menu-submenu:hover {
                        background-color: var(--thoughtware-gray-300);
                    }

                    .repository-menu-select {
                        background-color: var(--thoughtware-gray-400);
                    }
                }
                .hidden-menu {
                    display: none;
                }
            }
        }
    }
    
    .repository-set-content{
        .repository-set-content-col {
            background: #fff;
            height: 100%;
        }
    }
    .repository-back {
        padding: 0 20px;
        font-weight: 600;
        color: var(--thoughtware-blue);
        cursor: pointer;
        height: 40px;
        line-height: 40px;
    }
    .repository-back:hover {
        background-color: #f0f2f5;
    }
}
