
.repository-doc {
    height: 100%;
    .repository-doc-content {
        background-color: #fff;
        height: 100%;
        .repository-doc-empty {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}