.edit-toolbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
    margin-top: 24px;
    border: 1px solid rgb(235,236,240);
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    .tool-item {
        width: 30px;
        text-align: center;
        i {
            font-size: 16px;
            font-weight: 600;
        }
    }
    
}
.edit-box {
    border: 1px solid #ebecf0;
    padding: 10px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
p {
    margin: 0;
}