.dynamic-row {
    height: 100vh;
    overflow: auto;
}

.dynamic-list-page {
    height: 100%;
    padding: var(--thoughtware-padding);
    .dynamic-list-top {
        height: 32px;
        line-height: 32px;
    }
    .dynamic-filter {
        padding: 15px 0;
        width: 100%;
        display: flex;
        gap: 20px;
        .dynamic-list-item {
            padding-bottom: 10px;
        }
    }
}