.repository-survey-row {
    height: calc(100vh - 48px);
    overflow: auto;
    background-color: var(--thoughtware-gray-600);
}
.repository-survey {
    padding: var(--thoughtware-padding);
    .repository-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: var(--thoughtware-padding);
        margin-bottom: 15px;
        background: #fff;
        border-radius: 4px;

        .repository-icon {
            width: 50px;
            margin-right: 10px;
        }

        .top-left {
            display: flex;
            align-items: center;

            .top-icon {
                width: 80px;
                height: 80px;
                margin-right: 15px;
            }

            .top-name {
                .name {
                    font-size: 20px;
                    margin-bottom: 10px;
                }

                .user {
                    display: flex;
                    align-items: center;

                    .user-more {
                        width: 25px;
                        height: 25px;
                        border-radius: 25px;
                        font-size: 16px;
                        background-color: #ddd;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #fff;
                        cursor: pointer;
                    }

                    .user-more-icon {
                        width: 20px;
                        height: 20px;
                    }
                }

                .user-img {
                    margin-left: -5px;
                }

                .desc {
                    color: var(--thoughtware-gray-500);
                    display: flex;
                    gap: 10px;
                }
            }
        }

        .top-right {
            display: flex;
            align-items: center;
            gap: 10px;

            .top-add-botton {
                color: #fff;
                font-weight: 500;
                background-color: var(--thoughtware-blue);
                padding: 5px 15px;
                border-radius: 4px;
                display: flex;
                align-items: center;
                cursor: pointer;
                height: 32px;
                line-height: 32px;
            }
        }
    }

    .repository-menu {
        .repository-menu-submenu {
            height: 40px;
            line-height: 40px;
            display: flex;
            align-items: center;
        }

        .repository-menu-submenu-hidden {
            display: none;
        }

        .category-line {
            flex: 1;
            margin: 0 16px;
            border-top: 1px dashed var(--thoughtware-gray-500);
        }

        .open-icon {
            width: 14px;
            height: 14px;
            margin-right: 5px;
        }

    }

    .home-dynamic {
        background-color: #fff;
        border-radius: 4px;
        padding: 0 15px 15px;
        margin-bottom: 15px;

        .dynamic-box-title {
            width: 100%;
            height: 40px;
            line-height: 40px;
            font-weight: var(--thoughtware-font-weight-bold);
            display: flex;
            justify-content: space-between;

            .more:hover {
                text-decoration: underline;
            }

            .more {
                color: var(--thoughtware-blue);
                margin-left: 10px;
                cursor: pointer;
                display: flex;
                align-items: center;
            }
        }

        .dynamic-list {
            margin-top: 10px;
            padding-bottom: 20px;
            .dynamic-item {
                margin-bottom: 10px;
    
                .dynamic-repository-title:hover {
                    color: var(--thoughtware-blue);
                }
            }
    
            .dynamic-item:nth-child(4n+1) {
                .dynamic-user-icon {
                    background-color: #cadbf3;
                }
            }
    
            .dynamic-item:nth-child(4n+2) {
                .dynamic-user-icon {
                    background-color: #deedd7;
                }
            }
    
            .dynamic-item:nth-child(4n+3) {
                .dynamic-user-icon {
                    background-color: #ffebee;
                }
            }
    
            .dynamic-item:nth-child(4n+4) {
                .dynamic-user-icon {
                    background-color: #e8eaf6;
                }
            }
        }

    }

    .home-document {
        padding: 0 15px 15px;
        background: #fff;
        border-radius: 4px;
        margin-bottom: 15px;

        .document-box-title {
            width: 100%;
            height: 40px;
            line-height: 40px;
            font-weight: var(--thoughtware-font-weight-bold);
            display: flex;
            justify-content: space-between;

            .more:hover {
                text-decoration: underline;
            }

            .more {
                color: var(--thoughtware-blue);
                margin-left: 10px;
                cursor: pointer;
                display: flex;
                align-items: center;
            }
        }

        .document-list-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            line-height: 30px;
            gap: 10px;
            margin-top: 10px;
            flex-shrink: 1;
            min-width: 0;
            .document-item-left {
                flex: 1;
                display: flex;
                align-items: center;
                gap: 5px;
                flex-shrink: 1;
                min-width: 0;
                .document-icon {
                    width: 32px;
                    height: 32px;
                    margin-right: 10px;
                }
                .document-item-text {
                    flex-shrink: 1;
                    min-width: 0;
                    .document-title {
                        cursor: pointer;
                        color: var(--thoughtware-blue);
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                    .document-master {
                        font-size: 12px;
                        color: var(--thoughtware-gray-500);
                    }
                }
            }
            .document-time {
                width: 150px;
                flex-shrink: 0;
            }
        }
    }
}

.content-add-menu {
    display: flex;
    align-items: center;
    .content-add-icon {
        width: 16px;
        height: 16px;
        margin-right: 5px;
    }
}