.category-detail {
    .category-top {
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        box-shadow: var(--ds-shadow-overlay, 0 0 1px rgba(9, 30, 66, 0.31), 0 5px 10px -8px rgba(9, 30, 66, 0.25));
    
        .category-top-left, .category-top-right {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 18px;
        }
        .category-title {
            margin-left: 20px;
            font-weight: 600;
        }
        .category-icon-logo {
            width: 30px;
            height: 30px;
        }
        .category-icon-search {
            margin-right: 20px;
            width: 25px;
            height: 25px;
        }
        .category-icon-add {
            width: 25px;
            height: 25px;
        }
    }
    .category-desc {
        height: 170px;
        width: 100%;
        background: linear-gradient(to left top, #ECF4F7, #F5F0F6 50%, #F4F5F0);
        .category-title {
            height: 40px;
            line-height: 40px;
            padding-top: 40px;
            text-align: center;
            font-weight: 600;
            font-size: 20px;
            box-sizing: content-box;
        }
        .category-action {
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            margin-top: 10px;
            .category-share {
                height: 30px;
                line-height: 30px;
                width: 100px;
                margin-top: 10px;
                text-align: center;
                border-radius: 5px;
                border: 1px solid #8B8C90;
            }
            :nth-child(1){
                margin-right: 10px;
            }
        }
    }
    .category-header {
        border-bottom: 1px solid #EEEEEE;
        width: 100%;
        height: 40px;
        padding: 0 10px;
        box-sizing: border-box;
        .category-list-aside {
            margin-top: 4px;
        }
        .category-tab {
            height: 40px;
            line-height: 40px;
            width: 40px;
            text-align: center;
            border-bottom: 2px solid #5470c6;
            box-sizing: border-box;
        }
    }
    .category-list {

        .category-list-menu {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 40px;
            line-height: 40px;
            padding: 0 10px;
            .category-list-icon {
                width: 20px;
                height: 20px;
            }
        }
        
      
    }
    .repository-list-icon {
        width: 20px;
        height: 20px;
    }
}

