.document-share-popup {
    .adm-popup-body {
        margin: 0 5px;
        width: calc(100vw - 10px);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 0 10px;
        box-sizing: border-box;
        background-color: transparent;
    }
    .document-share-select {
        background-color: #fff;
        border-radius: 10px;
        padding: 0 10px;
        .document-share-title {
            height: 40px;
            line-height: 40px;
            text-align: center;
            font-size: 14px;
            font-weight: 600;
            padding: 0 10px;
            border-bottom: 1px solid #f9f9f9;
        }
        .document-share-list {
            padding: 10px 0px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }
    .document-share-item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex: 1;
    }
    .document-share-icon {
        width: 30px;
        height: 30px;
    }
    .document-share-select-cancel {
        height: 40px;
        line-height: 40px;
        border-radius: 10px;
        text-align: center;
        font-size: 15px;
        background-color: #fff;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}