.first-menu {
    width: 80px;
    background-color: var(--thoughtware-gray-600);
    border-right: 1px solid #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
    .first-menu-link {
        flex: 1;
        &-active {
            color: var(--thoughtware-blue);
            background-color: var(--thoughtware-gray-400);
            border-left: 3px solid var(--thoughtware-blue);
        }

        &-item {
            display: flex;
            width: 100%;
            align-items: center;
            flex-direction: column;
            margin-bottom: 10px;
            padding: 5px 0;
            cursor: pointer;
            .svg-icon {
                width: 20px;
                height: 20px;
            }
        }

    }


    .first-menu-bottom {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        position: relative;
        bottom: 0;
        .first-set {
            height: 40px;
            display: flex;
            align-items: center;
            cursor: pointer;
            .svg-icon {
                width: 24px;
                height: 24px;
            }
        }
        .first-set:hover {
            background: var(--thoughtware-gray-300);
        }
    }
    
}