.first-sider {
    width: 75px;
    background-color: var(--thoughtware-gray-600);
    border-right: 1px solid #f0f0f0;
    z-index: 1003;
    position: relative;
    .licence_dropdown_menu {
        color: #2B2B2B;
    }
    .first-menu {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .first-menu-expend {
            position: absolute;
            right: -5px;
            width: 10px;
            height: 50px;
            border-radius: 20px;
            top: 50%;
            line-height: 20px;
            display: none;
            z-index: 2;
            background: var(--thoughtware-gray-400);
            .first-menu-expend-icon {
                width: 10px;
                height: 50px;
            }
            
        }
    }

    .first-menu:hover {
        .first-menu-expend {
            display: block;
        }
    }

    .first-menu-link {
       

        &-item {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-bottom: 5px;
            padding: 5px 0;
            width: 75px;
            cursor: pointer;
        }
        &-active {
            color: var(--thoughtware-blue);
            background-color: var(--thoughtware-gray-400);
            border-left: 3px solid var(--thoughtware-blue);
            width: 74px;
        }
        &-item:hover {
            background-color: var(--thoughtware-gray-400);
            width: 74px;
        }

        .svg-icon {
            width: 18px;
            height: 18px;
        }
    }

    .first-menu-text-item {
        height: 40px;
        display: flex;
        line-height: 40px;
        width: 100%;
        align-items: center;
        padding-left: 20px;
        cursor: pointer;
        gap: 10px;
    }
}

.first-sider-blue {
    background-color: #2f5eb1;
    color: #fff;
    .first-menu-link-item:hover {
        background-color: #557AC0;
    }
    .first-menu-link-active {
        color: #fff;
        background-color: #557AC0;
        border-left: 3px solid #ffffff !important;
    }
    .user-icon {
        background-color: #fff;
        color: #2B2B2B;
    }
    .first-menu-text-item:hover {
        background-color: #557AC0;
    }
}
    
.first-sider-gray {
    background-color: var(--thoughtware-gray-600);
    .first-menu-link {
        &-active {
            color: var(--thoughtware-blue);
            background-color: var(--thoughtware-gray-400);
            border-left: 3px solid var(--thoughtware-blue);
            width: calc(100% - 1px);
        }

        &-item:hover {
            background-color: var(--thoughtware-gray-400);
        }
    }
    .first-menu-text-item:hover {
        background-color: var(--thoughtware-gray-400);
    }
    .user-icon {
        background-color: var(--thoughtware-blue);
        color: #ffffff;
    }
}

.first-sider-black {
    background-color: #131d30;
    color: #fff;
    .first-menu-link-item:hover {
        background-color: #414A5A;
    }
    .first-menu-link-active {
        color: #fff;
        background-color: #414A5A;
        border-left: 3px solid #fff;
    }
    .first-menu-text-item:hover {
        background-color: #414A5A;
    }
    .user-icon {
        background-color: #ffffff;
        color: #2B2B2B;
    }
}

.menu-box-right-border{
    width: 15px;
    position: absolute;
    top: 0;
    right: -5px;
    height: 100%;

    .menu-box-isexpanded{
        color: #5e5e5e;
        position: absolute;
        top: 80%;
        right: -3px;
        transform: translateY(-50%);
        background: var(--thoughtware-gray-400);
        border-radius: 5px;
        padding: 10px 0;
        cursor: pointer;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0.3s, right 0.3s;
        z-index: 100;
    }
    .first-menu-expend-icon {
        width: 10px;
        height: 50px;
    }
    &:hover .menu-box-isexpanded {
        right: -3px;
        opacity: 1;
        visibility: visible;
    }
}