.home {
    height: calc(100vh - 48px);
    background-color: var(--tiklab-gray-600);
    overflow: auto;
    .home-row {
        height: 100%;
    }
    .home-repository {
        padding: 0 15px 15px;
        margin-bottom: 15px;
        margin-top: 15px;
        border-radius: 4px;
        background: #fff;
        .repository-title {
            height: 40px;
            line-height: 40px;
            font-size: 14px;
            font-weight: var(--tiklab-font-weight-bold);
        }
        .repository-box {
            display: flex;
            justify-content: flex-start;
            gap: 15px;
            padding: 10px 0;
            overflow: hidden;
            .ant-empty {
                width: 100%;
            }
        }
        .repository-item {
            width: 240px;
            padding: 15px;
            box-sizing: content-box;
            flex-shrink: 0;
            border-radius: 4px;
            cursor: pointer;
            background-color: var(--tiklab-gray-600);
            box-sizing: border-box;
            border-bottom: 2px solid var(--tiklab-gray-600);
            .item-title {
                margin-bottom: 10px;
                font-weight: var(--tiklab-font-weight-bold);
                display: inline-flex;
                align-items: center;
                font-size: 16px;
                .project-icon {
                    width: 30px;
                    height: 30px;
                    margin-right: 10px;
                }
                .item-icon {
                    width: 20px;
                    height: 20px;
                    margin-right: 10px; 
                }
            }
            .item-work {
                display: flex;
                gap: 20px;
            }
            .process-work, .end-work{
                font-size: 12px;
                display: inline-flex;
                width: 100%;
                justify-content: space-between;
                height: 30px;
                line-height: 30px;
            }
            .icon {
                width: 40px;
                height: 40px;
            }

            .title {
                margin-top: 10px;
                font-size: 18px;
                font-weight: 600;
            }
        }
    }

    .home-document {
        padding: 0  15px 15px;
        background: #fff;
        border-radius: 4px;
        margin-bottom: 15px;
        .document-box-title {
            width: 100%;
            height: 40px;
            line-height: 40px;
            font-weight: var(--tiklab-font-weight-bold);
            display: flex;
            justify-content: space-between;
            .more:hover{
                text-decoration:underline;
            }
            .more {
                color: var(--tiklab-blue);
                margin-left: 10px;
                cursor: pointer;
                display: flex;
                align-items: center;
            }
        }

        .document-list-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 40px;
            line-height: 40px;
        }
        .document-name {
            display: flex;
            align-items: center;
            cursor: pointer;
            color: var(--tiklab-blue);
        }
        .document-icon {
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }
    }
}