/**
* @name: header
* @author: mahai
* @date: 2021-09-01 16:52
* @description：header
* @update: 2021-09-01 16:52
*/

.layout {
    overflow: hidden;
    height: 100%;
    display: flex;
    .layout-left {
        flex: 1;
        height: 100%;
        overflow: hidden;
    }

}