.sward-logo {
    padding: 15px var(--thoughtware-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    .logo-img {
        height: 32px;
        width: 32px;
    }
}
.sward-logo-text {
    height: var(--thoughtware-head-height);
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 17px;
    .logo-img {
        height: 24px;
        width: 24px;
    }

    .logo-text {
        margin-left: 5px;
        font-size: 20px;
        font-weight: 500;
    }
}