.document-examine {
    background-color: #fff;
    position: relative;

    .document-examine-content {
        display: flex;
        justify-content: space-between;
        height: calc(100vh - 49px);
        padding-top: 10px;
    }

    .document-examine-row {
        height: calc(100vh - 85px);
        overflow: auto;
        flex: 1;
    }

    .examine-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #f7f8fa;
        padding: 0 20px;

        .examine-title {
            padding-top: 10px;
            .examine-title-top {
                height: 25px;
                line-height: 25px;
                font-weight: 600;
                font-size: 16px;
            }
            .examine-title-date {
                height: 25px;
                line-height: 25px;
                font-size: 11px;
                color: #666;
            }
        }

        .comment-item {
            display: flex;
            align-items: center;
        }

        .document-action {
            display: flex;
            align-items: center;
            gap: 10px;
            .document-action-edit {
                background: #0d66e4ad;
                color: #fff;
                font-weight: normal;
            }
            .document-action-share {
                background: #f0f2f5;
                font-weight: normal;
            }
            .right-icon {
                width: 20px;
                height: 20px;
                cursor: pointer;
            }
            .right-icon:hover {
                background-color: #edf0f5;
            }
        }

        .inline {
            border-left: 2px solid #f0f0f0;
            height: 20px;
            width: 1px;
            margin-right: 20px;
        }
    }

    .preview-editor {
        min-height: 300px;
    }

    .comment-box {
        box-shadow: rgb(112 144 176 / 24%) 0px 0px 1px 0px, rgb(112 144 176 / 12%) 0px 6px 24px 4px;
        padding: 6px;
        border-radius: 6px;
        background-color: rgb(255, 255, 255);
        position: absolute;
        bottom: 150;
        right: 20px;

        .comment-box-item {
            padding: 5px;
            cursor: pointer;
        }

        .comment-item {
            cursor: pointer;
        }

        .top-item {
            border-bottom: #f0f0f0 1px solid;
        }

        .commnet-num {
            font-size: 11px;
            transform: scale(.8);
            position: absolute;
            top: 0;
            right: 4px;
        }
    }
    .category-box {
        position: absolute;
        top: 50px;
        right: 0;
        width: 300px;
        height: calc(100% - 50px);
    }

}
.document-empty {
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
}