
.template-modal {
    .ant-modal-body {
        padding: 0;
    }
    .template-list {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        padding: 10px;
        .template-box {
            padding: 10px;
            border: 1px solid rgba(126, 134, 142, 0.16);
            box-sizing: border-box;
            border-radius: 6px;
            position: relative;
            background-color: #fff;
            .template-image {
                width: 120px;
            }
    
            .template-name {
                height: 27px;
                background: rgb(249, 250, 252);
                width: 100%;
                border-radius: 0px 0px 6px 6px;
                position: absolute;
                left: 0;
                bottom: 0;
                padding: 0 10px;
                line-height: 27px;
                color: #999;
            }
        }
    }
}