.indent-editor {
    min-width: 100px;
    top: 40px;
    left: 0;
    background: #fff;
    border-radius: 3px;
    box-sizing: border-box;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .indent-item {
        align-items: center;
        border-radius: 0;
        box-sizing: border-box;
        cursor: pointer;
        display: flex;
        flex: 0 0 auto;
        background-color: #fff;
        color: #172b4d;
        text-decoration: none;
        padding: 8px 50px 7px;
        border: 1px solid #e3e3e3;
        border-radius: 5px;
        box-sizing: border-box;
        svg.botton-item-icon {
            width: 15px;
            height: 15px;
        }
    }
}