.table-box {
    position: relative;
    overflow: auto;
    .table-tool {
        position: absolute;
        top: -36px;
        left: 0;
        display: none;
    }
    .selected {
        display: block;
    }
}
